@inherits LayoutComponentBase

<PageTitle>FabricaIdeas</PageTitle>

<div class="page fondo">

    <div class="sidebar">
        <NavMenu />
    </div>

    <main class="fondomedio">
     @*   <div class="top-row px-4 degradado">
          
        </div>
*@
        <article class="content px-4">
            @Body
        </article>


  


    </main>
</div>
